@CHARSET "ISO-8859-1";

body
{
	background-color: lightblue;
	font-family: Cambria;
}
.image{
	width:200px;
	height:200px;
/* 	margin-right:100px;	 */
}
.image:hover{
	border:5px solid #471899;
	border-radius:25px;
}